* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #121212;
  color: #FFFFFF;
}

.about-us {
  min-height: 100vh;
  padding: 90px 0;
  background: #F4CFC6;
}

.pic {
  height: auto;
  width: 550px;
}

.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 540px;
}

.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #DB7F67;
}

.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #F6AE6C;
}

.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.mission-vision-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.mission,
.vision {
  background: #ECBD73;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
  color: #121212;
}

.mission h3,
.vision h3 {
  margin-bottom: 10px;
  color: #DB7F67;
}

.mission p,
.vision p {
  font-size: 16px;
  line-height: 24px;
}

.carousel {
  margin: 50px 15%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #FFFFFF;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #DB7F67;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

input#ampshop:checked ~ .carousel-dots label#ampshop,
input#image1:checked ~ .carousel-dots label#image1,
input#image2:checked ~ .carousel-dots label#image2,
input#image3:checked ~ .carousel-dots label#image3,
input#image4:checked ~ .carousel-dots label#image4,
input#image5:checked ~ .carousel-dots label#image5,
input#image6:checked ~ .carousel-dots label#image6,
input#image7:checked ~ .carousel-dots label#image7 {
  opacity: 1;
}

input:checked + .slide-container .nav label {
  display: block;
}

.carousel-dots {
  display: none;
}
